<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>Contacts of Hanaui</title>
  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.css">

  <!--- Site CSS -->
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/reset.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/site.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/grid.css">

  <!--- Component CSS -->
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/icon.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/input.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/button.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/divider.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/label.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/dropdown.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/transition.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/popup.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/table.css">

</head>

<body>

<div class="ui attached stackable menu">
  <div class="ui container">
    <a class="item" href="/">
      <i class="home icon"></i> 첫화면
    </a>
    <a class="item" href="search">
      <i class="search icon"></i> 검색하기
    </a>
    <a class="item" href="create">
      <i class="add user icon"></i> 등록하기
    </a>
    <div class="right menu">
      <a class="ui item" href="logout">
        Logout
      </a>
    </div>
  </div>
</div>
<br><br>
<div class="ui container">
  <form>
    <div class="ui form">
      <div class="three fields">
        <div class="field">
          <label>또래</label>
          <select name="ddorae" multiple="" class="ui dropdown">
            <option value="">Select Age</option>
            <option value="0"
            <%
              if (ddorae.includes('0')) { %>
                    selected=""
            <% } %>
            >어린이</option>
            <%
              for (var i = 10; i < 51; i+=10) {
            %>
            <option value="<%=i%>"
            <%
            if (ddorae.includes(i.toString())) { %>
                    selected=""
            <% } %>
            ><%=i%>대
            <% if (i==50) { %>
              이상
            <% } %>
            </option>
            <%
              }
            %>
          </select>
        </div>
        <div class="field">
          <label>생일</label>
          <select name="birth" multiple="" class="ui dropdown">
            <option value="">Select Birthday</option>
            <%
              for (var i = 1; i < 13; i++) {
            %>
            <option value="<%=i%>"
            <%
              if (birth.includes(i.toString())) { %>
                selected=""
              <% } %>
            ><%=i%>월</option>
            <%
              }
            %>
          </select>
        </div>
        <div class="field">
          <label>검색</label>
          <div class="ui icon input">
            <input type="text" name="q" placeholder="Search..." value="<%=query%>">
            <!--<i class="inverted circular search link icon"></i> -->
              <button class="ui button yellow" type="submit">검색</button>
          </div>
          <div class="inline field">
            <div class="ui grid">
              <div class="eight wide column">
                <div class="ui toggle checkbox">
                  <input name="card_yn" value="on" type="checkbox" tabindex="0" class="hidden" <% if (card_yn) { %> checked <% } %>>
                  <label>사진보기</label>
                </div>
              </div>
              <div class="four wide column">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <% if (ret.length > 0) { %>
  <br>
  <h4 class="ui horizontal divider header">
    <i class="tag icon"></i>
    Members (<%=count%>)
  </h4>
  <br>
  <% } %>
  <% if (card_yn) { %>
  <div class="ui grid">
    <%
      for (var i = 0 ; i < ret.length; i++) {
        var default_img = "kristy.png";
        if (ret[i]['sex'] == "man")
          default_img = "matthew.png";

    %>
    <% if (i%3 == 0) { %>
    <div class="three column row">
    <% } %>
      <div class="column">
        <div class="ui card">
          <div class="image">
            <img src="/uploads/resize/<%=ret[i]['portrait']%>" alt="no portrait" onerror="this.src='/images/<%=default_img%>';">
          </div>
          <div class="content">
            <a class="header"><%=ret[i]['name']%> (<i class="
            <% if (ret[i]['is_lunar']) { %>
            minus
            <% } else { %>
            plus
            <% } %>
            square outline icon"></i><%=ret[i]['birth']%>)</a>
            <div class="meta">
              <span class="date">Joined in <%=ret[i]['first']%></span>
            </div>
            <div class="description">
              <%=ret[i]['description']%>
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="user icon"></i>
              <%=ret[i]['phone']%>
            </a>
          </div>
        </div>
      </div>
    <% if (i%3 == 2 || (i+1) == ret.length) { %>
    </div>
    <% } %>
    <%
      }
    %>
  </div>
  <% } else { %>
  <% if (ret.length > 0) { %>
  <table class="ui definition table">
    <thead>
    <tr><th></th>
      <th>생일</th>
      <th>전화번호</th>
        <% if (admin) { %>
      <th>편집</th>
        <% } %>
    </tr></thead>
    <tbody>
    <%
    for (var i = 0 ; i < ret.length; i++) {
    %>
    <tr>
      <td>
        <% if (ret[i]['sex'] == 'woman') { %>
        <i class="female icon"></i>
        <% } else { %>
        <i class="male icon"></i>
        <% } %>
        <%=ret[i]['name']%></td>
      <td>
        <% if (ret[i]['is_lunar']) {%>
          음력
        <% } else { %>
          양력
        <% } %>
          , <%=ret[i]['birth']%> (<%=ret[i]['age']%>세)</td>
      <td><%=ret[i]['phone']%></td>
        <% if (admin) { %>
      <td>
        <a class="ui icon button" href="edit?id=<%=ret[i]['id']%>">
          <i class="edit icon"></i>
        </a>
        <a class="ui icon button" href="upload?id=<%=ret[i]['id']%>">
          <i class="upload icon"></i>
        </a>
      </td>
        <% } %>
    </tr>
    <% } %>
    </tbody></table>
  <% }}%>
</div>

<!--- Component JS -->
<script src="semantic/dist/assets/library/jquery.min.js"></script>
<!--<script src="semantic/assets/library/iframe-content.js"></script>-->
<script type="text/javascript" src="semantic/dist/components/popup.js"></script>
<script type="text/javascript" src="semantic/dist/components/dropdown.js"></script>
<script type="text/javascript" src="semantic/dist/components/transition.js"></script>
<script type="text/javascript" src="semantic/dist/components/accordion.js"></script>
<script type="text/javascript" src="semantic/dist/components/checkbox.js"></script>
<script type="text/javascript" src="javascript/main.js"></script>

</body>
</html>